// font:
$primary_font: "Poppins";
$tamil_font: 'Mukta Malar';

// map:
$theme_colors: (
  "primary_light": #3f43fd,
  "primary_hover": #2c2fd0,
  "primary_contrast": rgb(0, 0, 60),
  "secondary_dark": #242424,
  "black": black,
  "general_color": white,
  "general_text": grey,
  "light_gray": rgb(246, 246, 246),
  "general_text2": #cfcfcf,
  "left_gradient": rgb(51, 51, 255),
  "right_gradient": rgb(213, 19, 239)
);

