@use "../../../abstract_scss/mixins/generic_mix" as gen_mix;
@use "../../../abstract_scss/mixins/main_mix/contact_section_mix/contact_mix" as mix;
@use "../../../abstract_scss/mixins/media_queries_mix" as mq;
@use "../../../abstract_scss/variables" as var;

.contact_section{
  @include gen_mix.color_bgcolor(null,"light_gray");
  @include gen_mix.flex(center);
  padding: 5rem;
  @include mq.responsive('xs')
  {
    padding: 3.5rem 2.5rem;
  }
  @include mq.responsive('xxs')
  {
    padding: 3.5rem 1rem;
  }
  @include mq.responsive('sm')
  {
    padding: 3.5rem;
  }
  @include mq.responsive('lg')
  {
    padding: 5rem;
  }

  &__card{
    @include gen_mix.flex(space-between,row,1.5rem);
    @include gen_mix.color_bgcolor(null, "general_color");
    width: 100%;
    padding: 2rem 3rem;
    border: none;
    border-radius: 1rem;
    @include mq.responsive('xs')
    {
      @include gen_mix.flex(null,column,1.5rem);
      padding: 2rem 1.75rem;
    }
    @include mq.responsive('xxs')
    {
      padding: 2rem 1rem;
    }
    @include mq.responsive('sm')
    {
      @include gen_mix.flex(null,column,1.5rem);
      padding: 2rem;
    }
    @include mq.responsive('lg')
    {
      @include gen_mix.flex(space-between,row,1.5rem);
      padding: 2rem 3rem;
    }

    &__desc{
      @include gen_mix.flex(null,column,1.4rem);
      width: 100%;

      h3{
        text-align: center;
      }

      p{
        text-align: center;
      }

      input:focus{
        border: 0.094rem solid map-get(var.$theme_colors, "primary_light");
      }

      .common,.message{
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: 0.4rem;
        @include gen_mix.color_bgcolor(null,"light_gray");
        outline: none;
      }

      .message{
        //height: 6rem;
        //padding: 1rem 0 6rem 1rem;
        resize: none;
      }
      .message:focus{
        border: 0.094rem solid map-get(var.$theme_colors, "primary_light");
      }
    }

    &__img{
      @include gen_mix.flex(space-between,column);

      img{
        @include gen_mix.wh(25rem);
        @include mq.responsive('xs')
        {
          @include gen_mix.wh(18rem);
        }
        @include mq.responsive('xxs')
        {
          @include gen_mix.wh(15rem);
        }
      }

      button{
        padding: 0.5rem 1.3rem;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
        @include gen_mix.color_bgcolor("general_color", "primary_light");
        @include gen_mix.font_sw(1rem);
      }
      button:hover{
        @include gen_mix.color_bgcolor(null,"primary_hover");
      }
    }
  }
}